<script>
    import { scaleLinear, scaleLog } from 'd3-scale';
    import { area } from 'd3-shape';
    import { extent } from 'd3-array';

    export let offset_height = null;
    export let is_right_side = null;
    export let data = null;
    const width = 400;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    const leaf_width = 50;
    const stem_length = 150;
    const stem_degree = 2 * Math.PI / 360 * 30;
    const stem_oppside_degree = 2 * Math.PI / 360 * (90 - 30);

    const stem_x1 = innerWidth / 1.7;
    const stem_y1 = offset_height;
    let stem_x2;
    if(is_right_side)
        stem_x2 = stem_length * Math.cos(stem_degree) + stem_x1
    else
        stem_x2 = -stem_length * Math.cos(stem_degree) + stem_x1
    const stem_y2 = -stem_length * Math.sin(stem_degree) + stem_y1

    const leafXScale = scaleLinear().range([1, stem_length]).domain(extent(data.map(d => d.day * 24 + d.hour)))
    const electricityYscale = scaleLinear().range([10, leaf_width/2]).domain(extent(data.map(d => d.total_electrity)))
    const gasYscale = scaleLinear().range([10, leaf_width/2]).domain(extent(data.map(d => d.total_gas)))

    function stemX(d) {
        if(is_right_side)
            return leafXScale(d.day * 24 + d.hour) * Math.cos(stem_degree) + stem_x1
        else
            return -leafXScale(d.day * 24 + d.hour) * Math.cos(stem_degree) + stem_x1
    }

    function stemY(d) {
        return -leafXScale(d.day * 24 + d.hour) * Math.sin(stem_degree) + stem_y1
    }

    function electricityLeafX(d) {
        const leaf_x_size = leafXScale(d.day * 24 + d.hour)
        const leaf_y_size = electricityYscale(d.total_electrity)
        if(is_right_side)
            return (leaf_x_size - leaf_y_size * Math.tan(stem_degree))* Math.cos(stem_degree) + stem_x1
        else
            return -(leaf_x_size - leaf_y_size * Math.tan(stem_degree))* Math.cos(stem_degree) + stem_x1
    }

    function electricityLeafY(d) {
        const leaf_x_size = leafXScale(d.day * 24 + d.hour)
        const leaf_y_size = electricityYscale(d.total_electrity)
        return -(leaf_x_size - leaf_y_size * Math.tan(stem_degree))* Math.sin(stem_degree) - leaf_y_size / Math.cos(stem_degree) + stem_y1 
    }

    function gasLeafX(d) {
        const leaf_x_size = leafXScale(d.day * 24 + d.hour)
        const leaf_y_size = gasYscale(d.total_gas)
        if(is_right_side)
            return (leaf_x_size + leaf_y_size / Math.tan(stem_oppside_degree)) * Math.sin(stem_oppside_degree) + stem_x1
        else
            return -(leaf_x_size + leaf_y_size / Math.tan(stem_oppside_degree)) * Math.sin(stem_oppside_degree) + stem_x1
    }

    function gasLeafY(d) {
        const leaf_x_size = leafXScale(d.day * 24 + d.hour)
        const leaf_y_size = gasYscale(d.total_gas)
        return -((leaf_x_size + leaf_y_size / Math.tan(stem_oppside_degree)) * Math.cos(stem_oppside_degree) - leaf_y_size / Math.sin(stem_oppside_degree))
                + stem_y1 
    }
    const electricityArea = area()//.x(electricityLeafX).y(electricityLeafY)
        .x0(stemX)
        .x1(electricityLeafX)
        .y0(stemY)
        .y1(electricityLeafY)

    const gasArea = area()//.x(electricityLeafX).y(electricityLeafY)
        .x0(stemX)
        .x1(gasLeafX)
        .y0(stemY)
        .y1(gasLeafY)
</script>

<line x1={stem_x1} y1={stem_y1} x2={stem_x2} y2={stem_y2} stroke=black></line>
<path stroke="blue" fill="blue" d="{electricityArea(data)}" style="opacity: 0.8;"/>
<path stroke="yellow" fill="orange" d="{gasArea(data)}" style="opacity: 0.8;"/>
