<script>
   import Leaf from "./design_3_Leaf.svelte";
  import { onMount } from "svelte";
  import { json } from "d3-fetch";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let data = null;
  let weeks = null;

  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
    weeks = [...new Set(data.map(d => d.week))]
  });

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each weeks as week, index}
      <Leaf
        data={data.filter(d => d.week == week)}
        offset_height={innerHeight / (weeks.length + 2) * (weeks.length - index) - 10}
        is_right_side={index % 2 == 0}>
      </Leaf>
      {/each}
      <line x1={innerWidth/2} y1={20} x2={innerWidth/2} y2={innerHeight - 20} stroke=black></line>
      <text x={innerWidth/3 - 20} y={innerHeight}>Gas and electricity use as a tree</text>
    </g>
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
