<script>
    const name = 'Xinlei Chen';
    const list = ['yoga','jogging','food'];
    console.log(list[0]);
    console.log(list[1]);
    console.log(list[2]);

</script>
<p>My name is {name} and these are some of my favourite things: 
    {Object.values(list)} </p>