<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let controls = {year: 1800, continent: 'all'};
  let filterdCountries = [];


 
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
  
  function filterData(_) {
    if(!data || !controls)
      return;
    filterdCountries = data[controls.year - 1800].countries.filter(function(country) {
      if(controls.continent == 'all')
        return true;
      return country.continent == controls.continent
    }).filter(d => d.income != null && d.life_exp != null)
  }

  $: filterData(controls);

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<div>
<Scatterplot data={filterdCountries} />
<Controls {data} bind:controls={controls} />


</div>

{/if}
